html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: black;
    display: block;
    min-width: 1342px;
}

.header{
    justify-content: space-between;
    background-image: url(mramor.jpg);
    height: 100px;
    width: 100%;
}

.glavtext{
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-top: -60px;
    margin-left: 310px;
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.glavtext1{
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-top: -60px;
    margin-left: 510px;
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.body{
    background-image: url(glavfon.jpg);
    width: 100%;
    height: 800px;
}

.footer{
    width: 100%;
    height: 800px;
    background-image: url(mramor.jpg);
}

.gruz{
    width: 300px;
    height: 300px; 
    margin-top: 300px; 
    position: absolute; 
    margin-left: -550px;
}

.rest{
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke; 
    font-size: 40px; 
    margin-left: 485px; 
    margin-top: 30px;
}

.rest1{
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke; 
    font-size: 20px; 
    margin-left: 380px; 
    margin-top: 30px;
}

.rest2{
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke; 
    font-size: 20px; 
    margin-left: 470px; 
    margin-top: 30px;
}

.text{
    margin-top: 70px;
    font-size: larger;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 150px;
}

.text1{
    font-size: larger;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 150px;
}

.end{
    background-color: black;
    width: 100%;
    height: 150px;
}

.ssylka{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin-top: -80px;
    margin-left: 520px;
    color: whitesmoke;
    text-decoration: underline;
}

.ssylka1{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin-top: -80px;
    margin-left: 720px;
    color: whitesmoke;
    text-decoration-line: underline;
}

.endtext{
    margin-top: 30px;
    text-align: center;
    opacity: 0.5;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
